<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile_pages_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Female Power</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Mode
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">User Mode</a>
                        <a class="dropdown-item" href="#">Admin Mode</a>
                    </div>
                </li>
            </ul>
            <div class="search-box">
                <input id="search" type="search" placeholder="Search" aria-label="Search">
                <button class="search-button" type="submit">Search</button>
            </div>

        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/main_img.png'%}" alt="" width="30" height="24"
                    class="d-inline-block align-top">
                WHC
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form action="/save_profile_changes" method="post">
            {% csrf_token %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#section3">LOG IN </a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="profile-content">
        {% load static %}
        <center>
            <img src="{% static 'img/avatar.jpg' %}" class="img-fluid img-thumbnail" alt="profile image">

            <br />
            <label id="open-for-work">Open For Work</label>
            <div class="onoffswitch">
                <input value="{{work}}" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                    id="myonoffswitch" tabindex="0" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </center>
        <div class="fields">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                value="{{name}}">
            <br />
            <label for="email">E-mail</label>
            <input type="text" value="{{email}}" class="form-control" id="email" name="email"
                placeholder="Enter your email">
            <br />
            <label for="mobile">Mobile Phone</label>
            <input type="text" value="{{mobile}}" class="form-control" id="mobile" name="mobile"
                placeholder="Enter your mobile number">
            <br />
            <label for="countries">Countries</label>
            <select id="country" name="country">
                <option>{{country}}</option>
                <option value="country1">country1</option>
                <option value="country2">country2</option>
                <option value="country3">country3</option>

            </select>
            <br />
            <label for="education">Education</label>
            <input type="text" value="{{education}}" class="form-control" id="education" name="education"
                placeholder="Enter your education">
            <div class="form-group">
                <label class="from" for="edu-from">from:</label>
                <input value="{{edu_from}}" type="date" id="edu-from" name="edu-from">
            <br/>
                <label class="to" for="edu-to">to:</label>
                <input value="{{edu_to}}" type="date" id="edu-to" name="edu-to">
            </div>

            <div class="form-group">
                <label for="experience">Experience</label>
                <input value="{{experience}}" type="text" class="form-control" id="experience" name="experience"
                    placeholder="Enter your experience">
            </div>
                    <div class="form-group">
                <label class="from" for="exp-from">from:</label>
                <input value="{{exp_from}}" type="date" id="exp-from" name="exp-from">
               </div> <div class="form-group">
                <label class="to" for="exp-to">to:</label>
                <input value="{{exp_to}}" type="date" id="exp-to" name="exp-to">
            </div>
            <div class="form-group">
                <label for="skills">Skills</label>
                <input value="{{skills}}" type="text" class="form-control" id="skills" name="skills"
                    placeholder="Add your skills">
            </div>
            <div class="form-group">
                <label for="links">Links</label>
                <input value="{{links}}" type="text" class="form-control" id="links" name="links"
                    placeholder="Add links to your linkedin, facebook, portfolio....etc ">
            </div>
            <label for="video-demo-url">Video Demo</label>
            <input value="{{video_url}}" type="text" class="form-control" id="video-demo-url" name="video-demo-url"
                placeholder="Add the link to your demo video">
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </center>
    </div>
    </form>
</body>

</html>